body{
    overflow-x: hidden;
}
*{
    box-sizing: border-box;
}
*{
    font-family: "Roboto Slab", serif;
}

.err-message{   
    color: red;
    background-color: pink;
    padding: 10px 10px;
    border-radius: 5px;}
.cursor{
    cursor: pointer;
}